<!DOCTYPE html>
<html>
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <style>
        body {
            text-align: center;
            margin: 0;
        }

        .container {
            position: relative;
            display: inline-block;
        }

        .container img {
            max-height: 95vh;
            width: auto;
            cursor: pointer;
            object-fit: cover;
        }

        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px 20px;
            border-radius: 5px;
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/main">
            <img id="clickableImage" src="" alt="Random Image">
            <div class="text-overlay">전송을 완료했습니다</div>
        </a>
    </div>

    <script>
        // 배열에 이미지 경로 추가
        const imagePaths = [
            "public/static/img/main_img/main1.png",
            "public/static/img/main_img/main2.png",
            "public/static/img/main_img/main3.png",
            "public/static/img/main_img/main4.png",
            "public/static/img/main_img/main5.png",
            "public/static/img/main_img/main6.png",
        ];

        // 랜덤으로 이미지 선택
        const randomImage = imagePaths[Math.floor(Math.random() * imagePaths.length)];

        // 선택된 이미지를 img 요소에 설정
        const clickableImage = document.getElementById('clickableImage');
        clickableImage.src = randomImage;

        let touchStartTime;
        let isDragging = false;

        document.addEventListener('contextmenu', function(event) {
            event.preventDefault();
        });

        document.addEventListener('touchstart', function(event) {
            touchStartTime = new Date().getTime();
            isDragging = false;
        });

        document.addEventListener('touchmove', function(event) {
            isDragging = true;
        });

        document.addEventListener('touchend', function(event) {
            const touchEndTime = new Date().getTime();
            const touchDuration = touchEndTime - touchStartTime;

            if (!isDragging && touchDuration > 300) {
                event.preventDefault();
                event.target.click();
            }
        });

        setTimeout(function() {
            clickableImage.click();
        }, 3000);
    </script>
</body>
</html>
