<!DOCTYPE html>
<html>
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <style>
        body {
            text-align: center;
            margin: 0;
        }

        .container {
            position: relative;
            display: inline-block;
        }

        .container video {
            max-height: 95vh;
            width: auto;
            cursor: pointer;
            object-fit: cover;
        }

        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px 20px;
            border-radius: 5px;
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/main">
            <video
                id="clickableMedia"
                autoplay
                muted
                loop
                playsinline
            ></video>
            <div class="text-overlay">전송을 완료했습니다</div>
        </a>
    </div>

    <script>
        const videoPaths = [
            "public/static/video/1.mp4",
            "public/static/video/2.mp4",
            "public/static/video/3.mp4",
            "public/static/video/4.mp4",
            "public/static/video/5.mp4",
            "public/static/video/6.mp4",
            "public/static/video/7.mp4"
        ];

        const randomVideo = videoPaths[Math.floor(Math.random() * videoPaths.length)];

        const clickableMedia = document.getElementById("clickableMedia");
        clickableMedia.src = randomVideo;

        let touchStartTime = 0;
        let isDragging = false;

        document.addEventListener("contextmenu", e => e.preventDefault());

        document.addEventListener("touchstart", () => {
            touchStartTime = Date.now();
            isDragging = false;
        });

        document.addEventListener("touchmove", () => {
            isDragging = true;
        });

        document.addEventListener("touchend", event => {
            const touchDuration = Date.now() - touchStartTime;
            if (!isDragging && touchDuration > 300) {
                event.preventDefault();
                event.target.click();
            }
        });

        setTimeout(() => {
            clickableMedia.click();
        }, 3000);
    </script>
</body>
</html>
