<!DOCTYPE html>
<html>
<head>
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <style>
        body {
            text-align: center;
            margin: 0; 
        }

        .container {
            position: relative;
            display: inline-block;
        }

        .container img {
            max-height: 95vh;
            width: auto; 
            cursor: pointer; 
            object-fit: cover;            
        }

        .text-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 10px 20px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img id="clickableImage" src="" alt="Random Image">
        <div class="text-overlay">전송을 완료했습니다</div>
    </div>

    <script>
        // 배열에 이미지 경로 추가
        const imagePaths = [
            "public/static/img/main_img/main1.png",
            "public/static/img/main_img/main2.png",
            "public/static/img/main_img/main3.png",
            "public/static/img/main_img/main4.png",
            "public/static/img/main_img/main5.png",
            "public/static/img/main_img/main6.png",
        ];

        // 랜덤으로 이미지 선택
        const randomImage = imagePaths[Math.floor(Math.random() * imagePaths.length)];

        // 선택된 이미지를 img 요소에 설정
        const clickableImage = document.getElementById('clickableImage');
        clickableImage.src = randomImage;

        // 새 창이 한 번만 열리도록 설정
        window.onload = function() {
            // 새 창에서 코드가 실행되지 않도록 방지
            if (window.opener) {
                // 새 창이라면 무한 새로고침 방지
                return;
            }

            if (!sessionStorage.getItem('popupOpened')) {
                // 새 창 열기
                const newWindow = window.open(
                    location.href, // 현재 URL
                    '_blank',      // 새 창으로 열기
                    'width=800,height=600,top=100,left=100,scrollbars=yes,resizable=no'
                );

                if (newWindow) {
                    newWindow.focus(); // 새 창으로 포커스 이동
                    window.close();   // 현재 창 닫기
                } else {
                    alert("팝업이 차단되었습니다. 팝업 차단을 해제해주세요.");
                }

                // 세션 스토리지에 팝업 상태 저장
                sessionStorage.setItem('popupOpened', 'true');
            }
        };
    </script>
</body>
</html>
