body {
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-size: 150%;
    font-style: normal;
    margin: 0 auto;
    max-width: 799px; 

}

.container-fluid {
    max-width: 799px;
    margin: 0 auto;
}


#modal-cart-list{
    font-size: 120%;
}

.navbar {
    height: 8%;
}

.navbar-brand,
.navbar-toggler-icon,
.navbar-brand,
.nav-item,
.btn {
    font-size: 120%;
}

#manager-lists {
    margin-top: 15%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.modal-content {
    position: fixed; 
    top: 35%; /* 화면의 50% 지점 */
    left: 50%; /* 화면의 50% 지점 */
    transform: translate(-50%, -50%); /* 가로/세로 중심 이동 */
    margin: 0; /* 여백 제거 */
    z-index: 1050; /* 다른 요소 위에 표시 */
}
