body {
    font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-size: 150%;
    font-style: normal;
    margin: 0 auto;
    max-width: 799px; 

}

.container-fluid {
    max-width: 799px;
    margin: 0 auto;
}


#modal-cart-list{
    font-size: 120%;
}

.navbar {
    height: 8%;
}

.navbar-brand,
.navbar-toggler-icon,
.navbar-brand,
.nav-item,
.btn {
    font-size: 120%;
}

#manager-lists {
    margin-top: 15%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}